%br
%footer
  %p!= "&copy; #{t('app_title')} #{Time.now.year}"
  %div
    %p
      Icons made by
      %a{:href => "https://www.flaticon.com/authors/good-ware", :title => "Good Ware"} Good Ware
      from
      %a{:href => "https://www.flaticon.com/", :title => "Flaticon"} www.flaticon.com
      https://colorlib.com/wp/template/philosophy/
