#book_screenings
  %h2= "Currently Screening"

  .container
    %h3= "Search by:"
    =form_tag(screenings_path, method:"get") do
      %select{:name => "screening[:cinema]", :class => "form-control"}
        - @cinemas.each do |cinema|
          %option{:value => "#{cinema.name}"}= cinema.name

      %select{:name => "screening[:screening_date]", :class => "form-control"}
        - @dates_week.each do |date|
          %option{:value => "#{date}"}= date
      =submit_tag("Search")
