/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 //https://www.wpfreeware.com/video-website-templates-free-premium/

 @import "bootstrap-sprockets";
 @import "bootstrap";

 $font: 'Times New Roman', 'Times', serif;
 $color: #FFFFFF;

 body {
   font-family: $font;
   background-color: $color;
   margin: 10px;
   padding: 10px;
 }

 #failure {
   color:red;
 }

 h1 {
   text-transform: uppercase;
 }

 #summary_column {
   width: 500px;
 }

.movie_res_table_cell{
  vertical-align: middle !important;
}

#cinema_res_table {
  width:50%;
}

 #cinema_table {
   width:50%;
 }

.movie_poster_res_table {
  height: 180px;
  width: 120px;
}
