// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
If the screen window is smaller than 960px it will display the collapsible side bar
Otherwise normal navigation bar will be displayed
*/

/*
  Header Style
*/
#pageHeader {
  background: #161616;
  padding-top: 30px;
}

#pageTitle {
  text-align: center;
}

#pageTitleLink {
  text-decoration: none;
  color: white;
}

#login_nav {
  position: absolute;
  width: 250px;
  padding: 10px;
  color: white;

  a{
    color:white;
    text-decoration: underline;
  }
  a:visited{
    color:white;
    text-decoration: underline;
  }
}

.navbar.navbar-expand-sm.nav-pills.nav-fill.bg-dark.navbar-dark.justify-content-center {
  background: #161616 !important;
}

.navbar-nav li a {
   color: #D3D3D3 !important;
}

.navbar-nav li a:hover {
   color: white !important;
   font-weight: bold !important;
   background-color: 	#282828 !important;
}

.navbar-nav li {
   padding-left: 20px;
   padding-right: 20px;
}

.openbtn {
  float: left;
}

.nav_title h1{
    margin-right: 1px;
    position: absolute;
}

#imageLogo {
  width: 50px;
  padding: 5px;
  margin-left: 8px;
  filter: grayscale(1) invert(1);
}

/* The sidebar menu */
.sidebar {
 height: 100%; /* 100% Full-height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 0;
 left: 0;
 background-color: #D3D3D3;//#111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 60px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
 padding: 8px 8px 8px 32px;
 text-decoration: none;
 font-size: 25px;
 color: #000000;//#818181;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
 position: relative;
 top: 0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
 padding-left: 15px;
 padding-right: 15px;
}

/* The button used to open the sidebar */
.openbtn {
 font-size: 20px;
 cursor: pointer;
 background-color: #343a40;
 color: white;
 padding: 10px 15px;
 border: none;
}

.openbtn:hover {
 background-color: #444;
}

#horizontalLine {
  width: 500px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
 transition: margin-left .5s; /* If you want a transition effect */
 padding: 20px;
}

#pageHeader {
 transition: margin-left .5s; /* If you want a transition effect */
 padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
 .sidebar {padding-top: 15px;}
 .sidebar a {font-size: 18px;}
}

@media screen and (max-width:750px) {
  .openbtn {visibility: visible;}
  .navbar.navbar-expand-sm.nav-pills.nav-fill.bg-dark.navbar-dark.justify-content-center {visibility: hidden;}
}

@media screen and (min-width:750px){
  .openbtn {visibility: hidden;  z-index: 0;}
  .navbar.navbar-expand-sm.nav-pills.nav-fill.bg-dark.navbar-dark.justify-content-center {visibility: visible;}
}


/*
  Home Page Style
*/
.dropdown.show {
  width: 200px !important;
}
.dropdown-menu {
    width: 200px !important;
}

.col-sm-4 {
  margin-bottom: 30px;
}
.title_links_upcoming {
  text-decoration: underline;
  color: black;
}

.title_links_upcoming:visited {
  color: black;
}

.title_links_upcoming:hover {
  text-decoration: none;
  color: white;
}

#main {

  #currentMovies {
    color: white;
    background: #161616;
    margin: -40px -20px 50px -20px;
    padding-bottom: 50px;
    padding-left:30px;

    #currently_playing {
      margin-bottom: 20px;
    }

    .movies-container {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-template-rows: 2fr 2fr 1fr;
      gap:0px 0px;
      grid-template-areas:
        "Div-1 Div-1 Div-2 Div-2"
        "Div-1 Div-1 Div-3 Div-3"
        ". . . .";
      margin:auto;
      width: 60%;
      padding:10px;
      height: 750px;

    }

    #Div-1 {
      grid-area: Div-1;
      //background: red;
      height: 700px;
      padding-left: 60px;
      padding-top: 430px;
    }
    #Div-2 {
      grid-area: Div-2;
      //background: blue;
      height: 350px;
      padding-left: 60px;
      padding-top: 150px;
    }
    #Div-3 {
      grid-area: Div-3;
      //background: green;
      height: 350px;
      padding-left: 60px;
      padding-top: 150px;
    }

    .movie_title_current {
      font-weight: bold;
      font-size: 45px;
      color: white;
    }

    .movie_info_container {
      padding: 3px;
    }

    .release_date_current {
      font-weight: bold;
      color:white;
      //color: #C0C0C0;
    }

    #view_more {
      padding-top: 5px;
      padding-right: 300px;
      float:right;

      #view_more_link {
          text-decoration: bold;
          font-size: 15px;
      }
    }
  }
}

#resources_div {
  padding-left: 20px;
  padding-right: 20px;
}

.resource_table_links:link {
  color:blue;
  text-decoration: underline;
}

.resource_table_links:hover {
  color:white;
}

.resource_table_links:visited {
  color:blue;
  text-decoration: underline;
}

#movie_res_table_cell_links{
  font-size: 15px;
}

form label, form input {
  display: block;
  margin: 10px;
}
