// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movie_title_container {
  height: 40px;
  margin-bottom: 30px;
}

#trailer_container {

  height: 475px;

  iframe{
    width:100%;
    height:100%;
    margin: auto;
    padding: 10px;
  }
}

#movie_title_container h2 {
  padding-top: 3px;
  padding-left: 20px;
  font-size: 35px;
  text-decoration: bold;
}

#movie_container_show {
  margin-top: -20px;
  padding-top: -20px;
  background-color: #161616;
  td {
    color:white;
  }
  h2 {
    color:white;
  }
  p {
    color:white;
  }
}


.movie_res_table_cell_first_col{
  width:120px;
}

.movies_poster_container {
  grid-area: movies_poster_container;

  #poster_image{
    width: 300px;
    height: 455px;
  }
}

.movies_information_container {
  grid-area: movies_information_container;
}
